.container {
  height: 100%;
}

.page {
  height: var(--page);
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efefef;
  padding: 30px 40px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.title > h1 {
  margin: 0 0 0 8px;
}

.center > button {
  padding: 10px 20px;
}

.footer {
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a:hover {
  text-decoration: underline;
}

.badge {
  position: fixed;
  background: #000;
  color: #fff;
  width: 128px;
  height: 128px;
  transform: rotate(45deg);
  bottom: -64px;
  right: -64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge:hover {
  color: #2196f3;
}

.badge > svg {
  transform: rotate(-45deg);
  position: relative;
  right: 36px;
}
