.docs {
  width: 400px;
  font-family: sans-serif;
  position: relative;
}

.docs.hidden {
  width: 32px;
}

.docs.hidden .docscontent {
  display: none;
}

.docs > .button {
  position: absolute;
  top: 0;
  right: 0;
}

.docscontent {
  padding: 20px;
}

.docscontent > h2 {
  margin: 0;
}

.content {
  display: flex;
}

.toolbar {
  display: flex;
}

.saveform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saveform > input {
  margin: 10px 0;
}
