.container {
  margin-bottom: 10px;
}

.container > h1 {
  margin: 0;
  font-size: 16px;
}

.canvas {
  cursor: pointer;
}

.container > p {
  margin: 0;
}

.colorinput {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  border: 4px solid #222;
}
