.toolbar {
  display: flex;
  width: 256px;
}

.saveform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saveform > input {
  margin: 10px 0;
}

.toolbar > input {
  margin-left: 8px;
  width: 124px;
}
