.button {
  width: 32px;
  background: #efefef;
  border: 2px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  padding: 1px;
  background: transparent;
}

.button:hover {
  background: #ddd;
}

.button img {
  image-rendering: pixelated;
}

.button:not(:active):not(.down) {
  border-bottom: 6px solid #222;
  margin-top: 0;
}
