.docs {
  width: 400px;
  font-family: sans-serif;
  position: relative;
  border-right: 1px solid #000;
}

.docs.hidden {
  width: 32px;
}

.docs.hidden .docscontent {
  display: none;
}

.docs > .button {
  position: absolute;
  top: 0;
  right: 0;
}

.docscontent {
  padding: 20px;
}

.docscontent > h2 {
  margin: 0;
}

.content {
  display: flex;
  overflow: scroll;
}

.toolbar {
  display: flex;
}

.saveform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saveform > input {
  margin: 10px 0;
}

.console {
  border-left: 1px solid #000;
  flex-grow: 1;
  height: var(--page);
  display: flex;
  flex-direction: column;
}

.console > .head {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ddd;
}

.console > .head > span {
  margin-right: 10px;
}

.logs {
  overflow: scroll;
}

.error {
  color: red;
  font-family: sans-serif;
}

.output {
  padding: 10px;
  margin: 0;
}

.output > img {
  max-width: 256px;
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar > span {
  margin: 0 8px;
}
