* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'retro', monospace;
}

html, body, #__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.flexfill {
  flex-grow: 1;
}

:root {
  --header: 80px;
  --page: calc(100% - var(--header));
}

@font-face {
  font-family: 'retro';
  src: url('/fonts/retro.ttf');
}
